.food-calculator {
    display: flex;
    justify-content: center;


    .container {
        display: flex;
        padding: 50px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
        width: 40rem;
        flex-direction: column;
        margin-top: 1rem;


        .title {
            color: #45bfea;
            margin: 0;
            padding: 0px 0px 6px 0px;
            font-size: 51px;
            line-height: 44px;
            letter-spacing: -2px;
            font-weight: bold;
            font-family: "__Cera_dd97e8,__Cera_Fallback_dd97e8";
        }

        .question {
            font-family: "__Cera_dd97e8,__Cera_Fallback_dd97e8";
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
        }

        .input-field {
            padding: 10px;
            border-radius: 10px;
            height: 10px;
            width: 300px;
            background-color: #f6f6f6;
            box-shadow: 0 0 0 2px #355094;
            border: 1px solid transparent;
        }

        .button {
            margin-top: 20px;
            font-size: 14px;
            border-radius: 500px;
            border: 1px solid transparent;
            letter-spacing: 2px;
            width: 160px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            padding: 16px 14px 18px;
            color: #fff;
            background-color: #45bfea;
            height: 48px;
        }

        .response {
            display: flex;
            padding: 50px;
            box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
            align-items: center;
            margin-top: 20px;

            .response-text {
                font-family: "__Cera_dd97e8,__Cera_Fallback_dd97e8";
                font-size: 20px;
                font-weight: 600;

            }

        }
    }


}